*:focus {
    outline: none !important;
}

.jumbotron{
    background-color: #399ca488 !important;
    color: #161616;
}

#full-size{
    background-image: url('../img/DSC_3931.jpg');
    height: 100vh; 
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.6);
}

#login-stu-full-size{
    background-image: url('./../img/admin_portal.jpg');
    height: 100vh; 
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#admin-portal-full-size{
    background-image: url('./../img/admin_portal.jpg');
    height: 100vh; 
    width: 100vw;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.main-heading{
    padding-top: 30vh;
    color:  #399ca4;
}

.btn-size{
    height: 100%;
    width: 100%;
}